<div class="main-container">
  <h1 class="statement">Currency rates</h1>
  <div class="rates" *ngIf="rates">
    <p><img src="assets/flags/usa.svg" alt="US Flag" class="flag-icon">USD: {{ rates.rates.USD }} <i class="fa fa-dollar-sign"></i></p>
    <p><img src="assets/flags/europe.svg" alt="EU Flag" class="flag-icon">EUR: {{ rates.rates.EUR }} <i class="fa fa-euro-sign"></i></p>
    <p><img src="assets/flags/azerbaijan.svg" alt="AZ Flag" class="flag-icon">AZN: {{ rates.rates.AZN }} <i class="fa fa-manat-sign"></i></p>
  </div>
</div>
